body {
  background-color: #232323;
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h1 {
  color: white;
  line-height: 1.5;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  padding: 20px 0;
}

.square {
  width: 30%;
  background: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 10%;
}
.square1 {
  text-align: center;
  width: 7%;
  background: white;
  padding-bottom: 7%;
  float: left;
  margin: 1.66%;
  border-radius: 10%;
}
#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

#message {
  display: inline-block;
  width: 20%;
}
#container1 {
  text-align: center;
}
