body {
  background-color: #232323;
  margin: 0;
}
#head {
  background-color: rgb(80, 214, 238);
  border: 1px solid blue;
  width: 100%;
}

.square1 {
  width: 15%;
  background: white;
  padding-bottom: 15%;
  float: right;
  margin: 1.5%;
  margin-top: 0 auto;
  border-radius: 10%;
}
.bar {
  background-color: white;
  border: white;
  width: 100%;
  font-size: 20px;
}
#newGame {
  float: left;
  border: white;
  width: 100%;
  font-size: 20px;
}
#message {
  font-size: 20px;
  float: right;
}

.square {
  width: 30%;
  background: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.5%;
  border-radius: 10%;
}
.square1 {
  width: 15%;
  background: white;
  padding-bottom: 15%;
  float: right;
  margin: 1.5%;
  border-radius: 10%;
}
#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}
