
body {
  box-sizing: border-box;
  font-family: fantasy;
  background-color: #232323;
  margin: 0;
  justify-content: center;

}

#head {
  background-color: rgb(80, 214, 238);
  border: 1px solid blue;
  width: 100%;
  height: 25vh;
  justify-content: center;

}

.square1 {
  width: 15%;
  background: white;
  padding-bottom: 15%;
  float: right;
  margin: 1.5%;
  margin-top: 0 auto;
  border-radius: 10%;
}

.bar {
  background-color: white;
  border: white;
  width: 100%;
  font-size: 20px;
}

#newGame {
  float: left;
  border: white;
  width: 100%;
  font-size: 20px;
}

#message {
  font-size: 20px;
  float: right;
}

.square {
  width: 30%;
  background: white;
  padding-bottom: 30%;
  float: left;
  margin: 1.5%;
  border-radius: 10%;
}

.square1 {
  width: 10%;
  background: white;
  padding-bottom: 10%;
  float: right;
  margin: 1.5%;
  border-radius: 10%;

}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

#newgame {
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  justify-content: center;
/*  -ms-transform: translate(-50%, -50%);*/
  transform: translate(680%);
  font-size: 16px;

}

#newgame:hover {
  border-color: black;
}

#header {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px

}
.bar {
  background-color: ##540043;
  justify-content: center;
}